extends page

block stylesheets
  != assets.css('room')
  != assets.css('sprites')

block navbar
  .container
    .navbar.navbar-inverse
      .navbar-inner
        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/') Live Hall

        .nav-collapse.collapse
          ul.nav
            li
              a(href="/room/#{roomId}") Room
            li
              a(href='/room/public') Public Rooms
            li

            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Contact
                b.caret
              ul.dropdown-menu
                li
                  a(href='http://github.com/timnew') Github
                li
                  a(href='https://twitter.com/timnew') Twitter
                li
                  a(href='mailto:timnew.wti@gmail.com') Email

block page-content
  .container(data-widget="RoomPage")
    .jumbotron
      h1 Room Name
      p.lead
        = 'Room Description'
      p(data-widget="ClientCountWidget")
        = clientCount
        |  users in the room

      #sharing.collapse
        .input-prepend.input-append
          span.add-on
            i.icon-ex-link
          span.uneditable-input.input-xlarge
            = viewUrl
          button.btn.btn-primary
            i.icon-ex-copy-white
        div
          .qrcode.img-rounded.img-polaroid(data-widget="QRCode", data-qrcode=viewUrl)

      p(style="margin-top:30px;")
        a.btn.btn-primary.btn-xlarge(href=viewUrl, target='_blank', style="margin: 5px;") Enter Now

      #presenter.collapse
        p
          a.btn.btn-primary.btn-xlarge(href=controlUrl, target='_blank') Enter as Presenter
        .input-prepend.input-append
          span.add-on
            i.icon-ex-link
          span.uneditable-input.input-xlarge
            = controlUrl
          button.btn.btn-primary
            i.icon-ex-copy-white
        div
          .qrcode.img-rounded.img-polaroid(data-widget="QRCode", data-qrcode=controlUrl)
      p
        button.btn.btn-link(data-toggle="collapse", data-target="#sharing") Sharing
        |
        button.btn.btn-link(data-toggle="collapse", data-target="#presenter") I'm Presenter

block body-scripts
  != assets.js('room')
