div(data-widget="@EditRoomView")
  != assets.css('qrcode')

  .sideshow-header
     button.close(data-dismiss="sideshow") &times;
     h3 Edit Room
  .sideshow-body
    form.form-horizontal(data-widget="RoomEditorPage.RoomInfoForm", method="POST", action="/room/#{room.id}/edit")
      .control-group(data-widget="@Input")
        label.control-label(for='roomName') Room Name
        .controls
          input#roomName.input-xlarge(name="name", type='text', placeholder='Room Name', value=room.name)

      .control-group(data-widget="@Input")
        label.control-label(for='roomDescription') Room Description
        .controls
          input#roomDescription.input-xlarge(name="description", type='text', placeholder='Room Description', value=room.description)

      .control-group(data-widget="@Input")
        label.control-label(for='roomSlides') Room Description
        .controls
          select#roomSlides.input-xlarge(name="slides", type='text', value=room.slidesId)
            each slides in slideses
              option(value=slides.id)
                = slides.name

      input(type='hidden', name='id', value=room.id)

  .sideshow-footer
    button.btn.btn-primary(data-action-handler='updateRoom') Update
    button.btn(data-action-handler='cancel') Back
